@media screen and (min-width: 600px) { 
  #menu {
    display: flex;
    list-style: none;
    gap: .5rem;
    flex-direction: row;
    margin-left: 4rem;
  }

  #menu a {
    display: flex;
    padding: 0 0 0 0;
    color: #8d8c8c;
    margin-bottom: 7px;
    margin-right: 4rem;
  }

  .login {
    color: #8d8c8c;
  }

  .registrar {
    margin-left: 2rem;
    margin-right: 8rem;
    border: 2px solid #8d8c8c;
    border-radius: 10px;
    color: #8d8c8c;
    padding: 8px;
  }

  #menu-features-descricao {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 12rem;
    top: 5.5rem;
    left: 13rem;
    background: #ffffff;
    transition: .6s;
    z-index: 1000;
    height: 0;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.16);
    border-radius: .5rem;
    visibility: hidden;
    overflow-y: hidden;
  }
  

  #menu1.active #menu-features-descricao {
    height: 11.2rem;
    visibility: visible;
  }

  #menu1.fechar #menu-features-descricao {
    visibility: hidden;
  }

  #menu-company-descriçao {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 9rem;
    top: 5.5rem;
    background: #ffffff;
    transition: .6s;
    z-index: 1000;
    height: 0;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.16);
    border-radius: .5rem;
    visibility: hidden;
    overflow-y: hidden;
  }

  #menu2.active #menu-company-descriçao {
    height: 7rem;
    visibility: visible;
  }

  #menu2.fechar #menu-company-descriçao {
    visibility: hidden;
  }

  a.menu-company-descriçao {
    width: 7rem;
    margin-left: .7rem;
    margin-top: .4rem;
  }

  a.menu-features-descricao {
    width: 10rem;
    margin-left: 0.6rem;
    margin-top: .4rem;
  }

  .menu-features-descricao {
    margin-bottom: 6rem;
  }

  .icones {
    padding-right: 1rem;
    width: 1.5rem;
  }

  #botton-features {
    display: flex;
  }

  #botton-campany {
    display: flex;
  }

  .dece1 {
    display: flex;
    width: 1rem;
    height: 1rem;
    margin-top: 0.5rem;
    margin-left: 7.5rem;
    position: absolute;
    cursor: pointer;
  }
  
  .dece2 {
    display: flex;
    position: absolute;
    width: 1rem;
    height: 1rem;
    margin-left: 8rem;
    margin-top: 0.5rem;
    cursor: pointer;
  }

  .container {
    display: flex;
    color: #8d8c8c;
    margin-top: 1rem;
  }

  #botao-mobile {
    display: none;
  }
}
