:root {
  font-size: 62.5%;
}

body {
  background-color: #f5f5f5;
}
@media screen and (min-width: 600px) {
  a {
    font-size: 1.4rem;
    color: black;
    text-decoration: none;
    font-family: sans-serif;
  }

  #logo {
    font-size: 3.4rem;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 4rem;
  }
  #header {
    display: flex;
    padding: 1rem;
    align-items: center;
  }

  #nav {
    padding-top: 1.7rem;
    display: flex;
    width: 100vw;
    box-sizing: border-box;
    height: 7rem;
    justify-content: space-between;
    background: #f5f5f5;
  }

  .imagem-mobile {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: repeat(3, 33vh);
  }

  #container-principal {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;
  }

  .frase {
    visibility: hidden;
  }

  .frase-desktop {
    font-size: 7rem;
    font-family: sans-serif;
    width: 35vw;
    margin-left: 10vw;
    margin-top: 8rem;
    position: relative;
  }
  
  .principal-desktop {
    display: flex;
    padding-bottom: 3rem;
    font-size: 1.6rem;
    font-family: sans-serif;
    margin-left: 10vw;
    width: 25vw;
  }

  .more {
    font-size: 2rem;
    font-weight: bold;
    font-family: sans-serif;
    background-color: black;
    color: #ffffff;
    padding: 1.6rem;
    border-radius: 1.6rem;
    text-align: center;
    width: 13rem;
    align-content: center;
    margin-left: 10vw;
    margin-top: 4vh;
  }

  .more:hover {
    color: black;
    background-color: #ffffff;
    border: 0.2rem solid black;
  }

  .imagem-desktop {
    display: flex;
    margin-left: 7vw;
    margin-top: 3rem;
    grid-column: 2;
    width: 36rem;
    height: 48rem;
    
  }

  .principal {
    visibility: hidden;
  }


  .containe-rodape {
    grid-column: 1;
    grid-row: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 53%;
    height: 15%;
    margin-left: 10vw;
    margin-top: 13vh;
  }
  .databiz {
    width: 30%;
    height: 2.5rem;
    padding-right: 3rem;
  }

  .audiophile {
    width: 30%;
    height: 3.5rem;
    padding-right: 3rem;
  }

  .meet {
    width: 30%;
    height: 2.5rem;
    padding-right: 3rem;
  }

  .maker {
    width: 30%;
    height: 2.5rem;
  }
}

@media (max-width: 600px) {
  #header {
    box-sizing: border-box;
    height: 7rem;
    padding: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
  }

  a {
    color: black;
    text-decoration: none;
    font-family: sans-serif;
  }
  a:hover {
    background: rgba(0, 0, 0, .5);
  }

  .principal {
    visibility: visible;
  }

  .principal-desktop {
    visibility: hidden;
  }
  
  #logo {
    font-size: 1.7rem;
    font-weight: bold;
  }

  main {
    display: flex;
    flex-direction: column;
  }

  .frase-desktop {
    visibility: hidden;
  }

  .frase {
    visibility: visible;
  }

  .imagem-mobile {
    display: flex;
  }

  .imagem-desktop {
    display: none;
  }
  
  img {
    width: 100vw;
  }

  .principal {
    padding-bottom: 19px;
  }
  
  p {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 7px;
    font-size: 16px;
    font-family: sans-serif;
  }

  .frase {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    padding: 30px;
    text-align: center;
  }

  h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  }

  .more {
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
    width: 30%;
    background-color: black;
    color: #ffffff;
    padding: 12px;
    border-radius: 10px;
    margin-left: 32%;
    margin-right: 32%;
    margin-bottom: 60px;
  }

  .containe-rodape{
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .databiz {
    width: 100px;
    height: 25px;
  }
  
  .audiophile {
    width: 60px;  
    height: 30px;
  }
  
  .meet {
    width: 70px;
    height: 25px;
  }
  
  .maker {
    width: 70px;
    height: 25px;
  }
}

